<% extend("../index") %>
<div class="main">
    <div class="tab-content" id="nav-tabContent">
        <!-- Start of Babble -->
        <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
            <!-- Start of Chat Popular-->
            <%- include("sections/chat/chatPopular"); %>
            <!-- End of Chat Popular-->

            <!-- Start of Call -->
            <%- include("sections/call/call"); %>
            <!-- End of Call -->
        </div>
        <!-- End of Babble -->
        
        <!-- Start of Babble -->
        <div class="babble tab-pane fade" id="list-empty" role="tabpanel" aria-labelledby="list-empty-list">
            <!-- Start of Chat Empty-->
            <%- include("sections/chat/chatEmpty"); %>
            <!-- End of Chat Empty-->

            <!-- Start of Call -->
          <%- include("sections/call/call"); %>
            <!-- End of Call -->
        </div>
        <!-- End of Babble -->

        <!-- Start of Babble -->
        <div class="babble tab-pane fade" id="list-request" role="tabpanel" aria-labelledby="list-request-list">
            <!-- Start of Chat Add Contact-->
            <%- include("sections/chat/chatAddContact"); %>
            <!-- End of Chat Add Contact-->
        </div>
        <!-- End of Babble -->
    </div>
</div>